body {
    margin: 0;
    padding: 0;
    background-color: #666;
}

.div-picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.image {
    height: 500px;
    width: 500px;
    margin-bottom: 50px;
    border: solid 2px black;
    cursor: pointer;
    transition: .6s;
}

.bigger-image {
    height: 800px;
    width: 800px;
}

.generate-pic {
    padding: 10px;
    font-size: 40px;
    border: solid 2px black;
    background-color: #333;
    transition: .6s;
}